body { background-color: #FFFFFF;
    color: #666666; }
header {background-image: image(house1.jpg); color: #002171;
        color: #FFFFFF; text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif; offset: 1px; text-shadow: #a18181;}
title {background-color: #002171;
       color: #FFFFFF; }
nav { background-color: #0feccf;
        color: #FFFFFF}
        h2  { background-color: #98b8d8;}
        dt  { background-color: #7f9ee7;}
        i   { color: #0942ee;}
        #wrapper { background-color: #90C7E3;
            margin: auto; width: 80%; border: #000033; box-shadow: none;
            grid-template-columns: auto; grid-template-rows: auto;
    
    h1    { margin-bottom: 0; margin-top: 0; font-family: Georgia, "Times New Roman", serif;
            letter-spacing: 0.25em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;}

            nav { font-weight: bold;
padding: 0em;
font-size: 120%;
                text-align: left;
                padding-left: 1em;
                
        
        }
        
        nav a {text-decoration: blue; transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }
        nav li {border: 2px;}
        main  { padding: 1px 20px 20px 20px;

            display: block;
    
    }
    
    h2    { color: #1976D2; transition-property: all;
    
            text-shadow: 1px 1px  #CCCCCC;
    
            font-family: Georgia, "Times New Roman", serif;
            background-color: #FFFFFF;
    
    }
    
    h3    { color: aqua;
    
            font-family: Georgia, "Times New Roman", serif;}
    #wrapper { background-color: #90C7E3;
                margin: auto; width: 80%; border: #000033; box-shadow: none;
                grid-template-columns: auto; grid-template-rows: auto;}
        